<!--<div class="row">
    <div class=" col">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of array">
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.email}}</td>  
          </tr>
        </tbody>
      </table>   
    </div>  -->
    <h3><b>Welcome</b></h3>
    <br><div><b> Name:&nbsp;&nbsp;&nbsp;{{details.firstname | uppercase}}</b></div>
    <br> <div><b>DOB:&nbsp;&nbsp;&nbsp;{{details.date}}</b></div>
    <br><div><b>MAIL ID:&nbsp;&nbsp;&nbsp;{{details.email}}</b></div>
    <br>
<button type="submit" class="btn btn-primary" (click)="onSubmit()">Logout</button>
