<br>
<div class="container">
<div class="box">
<h4>SIGNUP FORM</h4>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" >
    
   
    <p style="margin:20px 20px"> 
        <label for="firstname">FirstName:</label>
        <input type="text" id="firstname" name="firstname" class="form-control" formControlName="firstname" ></p>
   
        <div
        *ngIf="!contactForm.controls.firstname?.valid && (contactForm.controls.firstname?.dirty
        ||contactForm.controls.firstname?.touched)" class="text-danger">
        <div *ngIf="contactForm.controls.firstname?.errors.required">Please Enter Your Firstname</div>
        <div *ngIf="contactForm.controls.firstname?.errors.minlength">First name should have atleast 6 characters</div>
        
          
      </div>
     
    <p style="margin:20px 20px"> LastName:<input type="text" name="lastname" class="form-control" formControlName="lastname"  ></p>
    <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)">
        <div [hidden]="!lastname.errors.required"class="text-danger">  
            Lastname cannot be empty
        </div>
        <div [hidden]="!lastname.errors.required" class="text-danger">
         
            Lastname should contain atleast 6 letters.
        </div>
    </div>
    <p style="margin:20px 20px"> Email:<input type="email" name="email" class="form-control" formControlName="email"  ></p>
    <div *ngIf="!contactForm.controls.email?.valid &&(contactForm.controls.email?.dirty || contactForm.controls.email?.touched)"class="text-danger">
        <div *ngIf="contactForm.controls.email?.errors.required">Email Required</div>
       </div> 
    <p style="margin:20px 20px"> Password:<input type="password" name="password" class="form-control" formControlName="password"  ></p>
    <div *ngIf="!password?.valid &&(password?.dirty || password?.touched)"class="text-danger">
        <div *ngIf="contactForm.controls.password?.errors.required">Password Required</div>
        <div *ngIf="contactForm.controls.password?.errors.minlength">Password must contain atleast 6 characters</div>
        
    </div>
    <p style="margin:20px 20px"> ConfirmPassword:<input type="password" class="form-control"name="confirmpassword" formControlName="confirmpassword"  ></p>
 <div *ngIf="!confirmpassword?.valid &&( confirmpassword?.dirty || confirmpassword?.touched)" class="text-danger">
    
        <div *ngIf="contactForm.controls.confirmpassword?.errors.required">ConfirmPassword Required.</div>
        <div *ngIf="contactForm.controls.confirmpassword?.errors.mustMatch">password must match.</div>
        
        
    </div>
 
    <p style="margin:20px 20px"> PhoneNumber:<input type="text" name="phonenumber" class="form-control" formControlName="phonenumber"/></p>
    <div *ngIf="!contactForm.controls.phonenumber?.valid &&( contactForm.controls.phonenumber?.dirty ||contactForm.controls. phonenumber?.touched)" class="text-danger">
        PhoneNumber is not valid.
    </div>
    
    <p style="margin:20px 20px">DOB:<input type="date" name="date"class="form-control" formControlName="date"/></p>
   
    <p style="margin:20px 20px"> Age:<input type="age" name="age"class="form-control" formControlName="age"  ></p>
 
   
    <p style="margin:20px 20px">isAdmin:<input type="checkbox" name="isAdmin" formControlName="isAdmin"  ></p>
    <div class="text-center">
    <p><button type="submit" class="btn btn-primary"  >Submit</button></p>
</div>
 </form>
</div>
</div>
