

<ul>
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li style="float:right"><a routerLink="/newaccount" routerLinkActive="active">Signup</a></li>
  <li style="float:right"><a routerLink="/login" routerLinkActive="active">Login</a></li>
   
</ul>

<router-outlet></router-outlet>
<!--<h1>{{pageTitle}}</h1>
<table class="table table-bordered">
<tr class="bg-primary">
    <th>state-province</th>
    <th>country</th>
    <th>name</th>
    <th>web_pages</th>
    <th>domains</th>
    <th>alpha_two_code</th>
</tr>
<tr *ngFor="let a of users">
<td>{{a.state_province}} </td>
<td>{{a.country }}</td>
<td>{{a.name}}</td>
<td>{{a.web_pages}}</td>
<td>{{a.domains}}</td>
<td>{{a.alpha_two_code}}</td>
</tr>
</table>-->