<div class="container-fluid">
<ul>
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/aboutus" routerLinkActive="active">Aboutus</a></li>
  <li><a routerLink="/contactus" routerLinkActive="active">Contactus</a></li>
  <li style="float: right">
    <a routerLink="/newaccount" routerLinkActive="active">Signup</a>
  </li>
  <li style="float: right">
    <a routerLink="/createaccount" routerLinkActive="active">Createaccount</a>
  </li>
  <li style="float: right">
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </li>
</ul>

<router-outlet></router-outlet>
</div>