<br>
<div class="container pt-10">
    <div class="card">
        <div class="card-header" style="text-align:center;background-color:orange;color:white" ><h3>LOGIN FORM</h3> </div>
            <div class="card-body">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
    <p>
        <label for="username"><strong>Username:</strong></label>
        <input type="text" name="email" id="email" class="form-control" formControlName="email" />
    </p>
    <div
    *ngIf="!contactForm.controls.email?.valid && (contactForm.controls.email?.dirty
    ||contactForm.controls.email?.touched)" class="text-danger">
      <b> Please Enter Your Username!</b>
  </div>
  <p>
    <label for="password"><strong>Password:</strong></label>
    <input type="password" name="password" id="password"class="form-control" formControlName="password" />
</p>
<div
*ngIf="!contactForm.controls.password?.valid && (contactForm.controls.password?.dirty
||contactForm.controls.password?.touched)" class="text-danger">
<b>Please Enter your Password!</b>
</div>
<div class="text-center">
 <button type="submit"  class="btn btn-warning" [disabled]="!contactForm.valid">Submit</button>
</div>
</form>
</div>
</div>
</div>